.container {
    margin: auto;
    width: 70%;
    height: 100%;
    text-align: center;
}

#emailInput {
    margin-top: 3%;
}

#passwdInput {
    margin-top: 3%;
}

#submitBtn {
    margin: auto;
    margin-top: 7%;
}