<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons (click)="logout()" slot="end" style="position:absolute; right: 0px; height: 100%; width: 50px;">
      <ion-icon name="log-out-outline" fill="clear" style="width: 55%; height: 55%;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; padding: 30px;">
    <ion-button (click)="navToAddPage()">Add New Notification</ion-button>
    <ion-list *ngFor="let notification of notifications; let i of index;">
      <ion-item>
        <ion-text (click)="navToDetailPage(i)" style="position: absolute; left: 20px;">{{ notification.title }}</ion-text>
        <ng-container *ngIf="checkSameUser(notification.creator.name)">
          <ion-button (click)="publish(i)" color="danger" style="position: absolute; right: 0px;">PUBLISH</ion-button>
        </ng-container>
        <ion-button (click)="navToUpdatePage(i)" fill="clear" style="position: absolute; right: 110px;"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button (click)="delete(i)" fill="clear" style="position: absolute; right: 80px;"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
