<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; padding: 30px;">
    <ion-button (click)="navToAddPage()">Add New Notification</ion-button>
    <ion-list *ngFor="let notification of notifications; let i of index;">
      <ion-item>
        <ion-text (click)="navToDetailPage(i)">{{ notification.title }}</ion-text>
        <ion-button (click)="navToUpdatePage(i)" fill="clear" style="position: absolute; right: 30px;"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button (click)="delete(i)" fill="clear" style="position: absolute; right: 0px;"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
