<ion-header>
  <ion-toolbar>
    <ion-title>add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 30px;">
    <ion-list style="text-align: center;">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input [(ngModel)]="title" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input [(ngModel)]="description" required></ion-input>
      </ion-item>
      <ion-button (click)="submit()" style="margin-top: 50px;">Submit</ion-button>
    </ion-list>
  </div>
</ion-content>
