<ion-header>
  <ion-toolbar style="overflow: hidden;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <h4>Notification Detail</h4>

    <ion-item lines="none" slot="end" class="ion-text">
      <ion-text slot="start" color="primary">Created by</ion-text>
      <ion-text slot="start">{{ creator }}</ion-text>
      <ion-text slot="start" color="primary">at</ion-text>
      <ion-text slot="start">{{ created_at }}</ion-text>
    </ion-item>

    <ion-item lines="none" slot="end" class="ion-text">
      <ion-text slot="start" color="primary">Edited by</ion-text>
      <ion-text slot="start">{{ editor }}</ion-text>
      <ion-text slot="start" color="primary">at</ion-text>
      <ion-text slot="start">{{ edited_at }}</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 30px;">
    <div>
      <b>Title</b>
      <p style="margin-left: 30px;">{{ title }}</p>
    </div>
    <div style="margin-top: 50px;">
      <b>Description</b>
      <p style="margin-left: 30px;">{{ description }}</p>
    </div>
    <div style="text-align: center; margin-top: 70px;">
      <ion-button (click)="navToUpdatePage()">Update</ion-button>
    </div>
  </div>
</ion-content>